[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
testcontainers = "*"

[packages]
peterplys = "0.4.6"

[scripts]
update-platform = "pip install --upgrade ./../ett-platform-utils"

[requires]
python_version = "3.8"
